@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';

.curriculum-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 720px) {
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  &__menu {
    width: 300px;
  }

  .curriculum {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    @media only screen and (max-width: 720px) {
      align-items: center;
      margin-top: 20px;
      margin-left: 0px;
    }

    p {
      @include SFProRegular;
      font-size: rem(16px);
      margin-bottom: 5px;
    }

    &__container {
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      &__input {
        width: 200px;
      }
    }

    &__title {
      @include SFProBold;
      font-size: rem(20px);
      margin-bottom: 10px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
