@import '../../../styles/helpers.scss', '../../../styles/palette.scss',
  '../../../styles/typography.scss';

.page {
  position: relative;
  width: 290px;
  display: flex;
  flex-direction: column;

  &__menu {
    left: 0;
    background-color: $pageMenu;
    border-radius: 3px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    &__container {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 8px;
      overflow: hidden;
      transition: all 0.3s ease;

      &:last-child {
        margin-bottom: 8px;
      }

      &:hover {
        cursor: pointer;
        border-radius: 6px;
        background-color: white;
      }

      &:active {
        cursor: pointer;
        border-radius: 6px;
        background-color: white;
      }

      &__item {
        @include SFProRegular;
        display: block;
        color: $blackPrimary;
        font-size: rem(18px);
        margin: 10px;

        &--active {
          @include SFProRegular;
          display: block;
          color: $primaryBlue;
          font-size: rem(18px);
          margin: 10px;
        }
      }
    }
  }
}
