@import '../../../styles/helpers.scss', '../../../styles/palette.scss',
  '../../../styles/typography.scss';

.profile {
  width: 100%;
  background-color: $backgroundFooter;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;

    &__item {
      @include SFProRegular;
      color: $blackPrimary;
      font-size: rem(16px);
      margin-right: 40px;
      margin-left: 40px;
      margin-bottom: 40px;

      &:hover {
        cursor: pointer;
      }

      &--active {
        @include SFProRegular;
        color: $primaryBlue;
        font-size: rem(16px);
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
        border-bottom: 1px solid $primaryBlue;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
