@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';

.change-email-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }

  &__menu {
    width: 300px;
  }

  .change-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;

    @media only screen and (max-width: 720px) {
      margin-top: 20px;
    }

    &__title {
      @include SFProBold;
      font-size: rem(20px);
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;

      span {
        @include SFProRegular;
        font-size: rem(16px);
        margin-bottom: 10px;
      }
    }

    &__button {
      width: 100px;
      margin: auto;
    }

    &__input {
      width: 300px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
