@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';

.financial-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }

  .financial {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 720px) {
      margin-top: 20px;
    }

    p {
      @include SFProRegular;
      font-size: rem(16px);
      color: $textPrimary;
      margin-bottom: 5px;
    }

    &__title {
      @include SFProBold;
      color: $textPrimary;
      font-size: rem(20px);
    }

    &__description {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
