$blackPrimary: #444444;
$secondaryBlack: #222222;
$primaryBlue: #3f51b5;
$secondaryBlue: #487edb;
$border: #dddddd;
$backgroundFooter: #f4f4f4;
$backgroundError: #ffa4a4a9;

//text
$textPrimary: #444;
$textSecondary: #aeaeae;
$textGrey: #a0a0a0;
$textError: #ff2c2c;

//socials
$twitterHover: #1da1f2;
$facebookHover: #4267b2;
$linkedinHover: #0e76a8;
$instagramHover: #dc2743;
$githubHover: #211f1f;

//table
$tableHeader: #ffed86;
$tableBorderSeparator: #e3f1d5;

//menu
$pageMenu: #e4e4e4;
