@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';

.change-email-page {
  display: flex;
  width: 100%;
  flex-direction: row;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }

  &__menu {
    width: 300px;

    @media only screen and (max-width: 720px) {
      width: 100%;
    }
  }

  .change-email {
    width: 100%;
    max-width: 655px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 720px) {
      margin-top: 20px;
    }

    &__title {
      @include SFProBold;
      color: $textPrimary;
      font-size: rem(20px);
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;

      p {
        @include SFProRegular;
        color: $textPrimary;
        font-size: rem(16px);
      }

      span {
        @include SFProBold;
        color: $primaryBlue;
        font-size: rem(16px);
      }

      &__form {
        margin-top: 10px;
      }
    }

    &__button {
      width: 100px;
    }

    &__input {
      width: 100%;
      height: 30px;
      margin-bottom: 10px;
    }
  }

  .change-password {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 720px) {
      margin-top: 20px;
    }

    &__title {
      @include SFProBold;
      color: $textPrimary;
      font-size: rem(20px);
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;

      p {
        @include SFProRegular;
        color: $textPrimary;
        font-size: rem(16px);
      }

      table {
        border-spacing: collapse;
        display: block;

        @media screen and (max-width: 720px) {
          table tr {
            display: block;
          }
          td {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

    &__button {
      width: 100px;
      margin: auto;
    }

    &__input {
      width: 300px;
      height: 30px;
      margin-bottom: 10px;
    }

    &__error {
      @include SFProRegular;
      font-size: rem(16px);
      color: $textError;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 30px;
      border-style: solid;
      border-color: $textError;
      border-radius: 5px;
      background-color: $backgroundError;
      margin-bottom: 10px;
    }
  }
}
