@import '../../styles/typography.scss', '../../styles/palette.scss',
  '../../styles/helpers.scss';

.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;

  @media only screen and (max-width: 720px) {
    width: 100%;
    flex-direction: column;
  }

  &__password {
    &__input {
      margin-top: 10px;
    }
    &__button {
      margin-top: 10px;
    }
  }

  &__items {
    margin: auto;
    width: 400px;
    flex-direction: column;
    text-align: center;

    @media only screen and (max-width: 720px) {
      width: 100%;
    }

    &__title {
      @include SFProBold;
      color: $blackPrimary;
      font-size: rem(40px);
      margin-bottom: 15px;
    }

    &__description {
      margin-bottom: 25px;

      p {
        @include SFProRegular;
        color: $blackPrimary;
        font-size: rem(16px);
        text-align: center;
      }
    }

    &__input {
      width: 100%;
    }

    &__error {
      @include SFProRegular;
      color: $blackPrimary;
      font-size: rem(16px);
      text-align: center;
    }

    &__success {
      @include SFProRegular;
      color: $blackPrimary;
      font-size: rem(16px);
      text-align: center;
      margin-top: 10px;
    }
    &__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;

      @media only screen and (max-width: 720px) {
        flex-direction: column;
      }
    }

    &__button {
      width: 45%;

      @media only screen and (max-width: 720px) {
        width: 100%;
      }

      &__forgot {
        width: 45%;
        background-color: white;
        color: $secondaryBlue;
        border: 1px solid;
        border-color: $secondaryBlue;

        @media only screen and (max-width: 720px) {
          width: 100%;
        }
      }
    }
  }
}
