@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';

.info-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  &__container {
    width: 100%;

    &__title {
      background: url(resources/dotted.png) repeat-x center;
      text-align: center;

      h2 {
        @include SFProBold;
        font-size: rem(32px);
        padding: 0 15px;
        background-color: white;
        display: inline-block;
      }
    }

    &__description {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      div {
        &:nth-child(3n) {
          margin-right: 0px !important;
        }

        @media only screen and (max-width: 1160px) {
          margin-right: 30px;
        }
        @media only screen and (max-width: 1020px) {
          margin-right: 10px;

          &:nth-child(3n) {
            margin-right: 10px !important;
          }
        }
      }
    }
  }
}

.contact {
  margin-right: 0px !important;
}
