@import '../../../../styles/helpers.scss', '../../../../styles/palette.scss',
  '../../../../styles/typography.scss';

.table-grades {
  margin-top: 15px;

  @media only screen and (max-width: 345px) {
    max-width: 196px;
    overflow: scroll;
  }

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    * {
      position: relative;
    }

    td,
    th {
      padding-left: 25px;

      &:last-child {
        padding-right: 15px;
      }
    }

    thead tr {
      padding: 10px;
      height: 60px;
      background: $tableHeader;
      color: white;
    }

    tbody tr {
      height: 48px;
      border-bottom: 1px solid $tableBorderSeparator;

      &:last-child {
        border: 0;
      }
    }

    td,
    th {
      text-align: left;
      &.l {
        text-align: right;
      }
      &.c {
        text-align: center;
      }
      &.r {
        text-align: center;
      }
    }
  }
}
