@import '../../../styles/helpers.scss', '../../../styles/palette.scss',
  '../../../styles/typography.scss';

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px 60px 0px;

  @media only screen and (max-width: 1036px) {
    flex-direction: column;
    height: 280px;
  }

  &__title {
    font-size: rem(20px);
    @include SFProBold;
    color: $blackPrimary;
    z-index: 3;

    &:hover {
      cursor: pointer;
      color: $primaryBlue;
    }
  }

  &__socials {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
  }
}

.menu {
  position: absolute;
  left: 0;
  top: 63.5px;
  right: 0;
  z-index: 2;
  flex-direction: row;
  text-align: center;

  @media only screen and (max-width: 1036px) {
    display: block;
    top: 120px;
  }

  @media only screen and (max-width: 755px) {
    display: block;
    top: 90px;
  }

  &__item {
    @include SFProBold;
    color: $blackPrimary;
    font-size: rem(16px);
    margin-right: 40px;
    margin-left: 40px;

    @media only screen and (max-width: 755px) {
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 20px;
    }

    @media only screen and (max-width: 436px) {
      display: inline-block;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    &--active {
      @include SFProBold;
      color: $primaryBlue;
      font-size: rem(16px);
      margin-right: 40px;
      margin-left: 40px;
      border-bottom: 3px solid $primaryBlue;
    }
  }
}
