@import '../../styles/helpers.scss', '../../styles/palette.scss',
  '../../styles/typography.scss';

.change-password-page {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }

  &__menu {
    width: 300px;

    @media only screen and (max-width: 720px) {
      width: 100%;
    }
  }

  .change-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    @media only screen and (max-width: 720px) {
      margin-top: 20px;
      margin-left: 0px;
    }

    &__title {
      @include SFProBold;
      font-size: rem(20px);
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;

      span {
        @include SFProRegular;
        font-size: rem(16px);
        margin-bottom: 10px;
      }

      table {
        border-spacing: collapse;

        @media screen and (max-width: 720px) {
          table tr {
            display: block;
          }
          td {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

    &__button {
      width: 100px;
      margin: auto;
    }

    &__input {
      width: 300px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
